<!DOCTYPE html>
<html>
<head>
    <title>Trips</title>
</head>
<body>

<h2>Available Trips</h2>

{% for trip in trips %}
<div style="margin-bottom:20px">

    <p>
        {{ trip.origin }} ==>  {{ trip.destination }}
    </p>

    <p>
        Price: {{ trip.price }}
    </p>

    <p>
       {% if trip.remaining_capacity > 0 %}
            <a href="{% url 'buy-ticket' trip.id %}" ...>Buy Ticket</a>
        {% else %}
            <span style="color: red;">Sold Out</span>
        {% endif %}

    </p>

    <a href="{% url 'buy-ticket' trip.id %}" style="padding: 5px 10px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
    Buy Ticket
    </a>


</div>
{% endfor %}

</body>
</html>
